*{
    margin: 0;
    padding: 0;
}

.movie-card{
    margin: 10px;
    font-weight: bold;
    background-color: rgb(197, 184, 184);
    padding: 3px;
    color: black;
    width: 17%;
}

.movie-card img {
    height: 220px;
    width: 100%;
}