*{
    margin: 0;
    padding: 0;
}
body{
    /*  background-image: url('bg.jpeg'); */
    background-size: cover; 
    overflow: hidden;
        
}

.taskbar{
    position: fixed;
    bottom: 0; 
    width: 100%;
    z-index: 110;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
}

.startmenu{
    position: fixed;
    /* bottom: 50px; */
    bottom: -650px;
    
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
}
.startmenu img{
    border-radius: 8px;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}